.banner__imagen {
    width: 100%;
    height: calc(100vh - 72px);
    background-image: url(../../img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}